<nav>
    <div class="container">
        <ul class="nav nav-tabs">
            <li>@Html.ActionLink("Home","Index","Home")</li>
            <li>@Html.ActionLink("Usuario", "Index", "Usuario")</li>
            <li>@Html.ActionLink("Movimentacao", "Index", "Movimentacao")</li>
        </ul>
    </div>
</nav>